/* Add mobile styles for the component here.  */
StackLayout {
  background: #f9ead5;
}
.grid {
  background: #f9ead5;
}
.square {
  border-radius: 10;
  height: 20%;
  width: 35%;
  margin: 10%;
  color: white;
  background: #55a728;
  font-weight: bold;
  font-size: 22;
}
label {
  font-weight: bold;
  font-size: 16;
  margin: 10;
}
.title1 {
  font-weight: bold;
  font-size: 18;
  margin-bottom: 20;
}
