<GridLayout class="grid" rows="*" columns="*"></GridLayout>
<StackLayout
  orientation="vertical"
  horizontalAlignment="center"
  verticalAlignment="center"
>
  <label
    class="title1"
    text="please click finish to save the new passowrd or click cancel to exit without changing the old passowrd !"
    textWrap="true"
  ></label>
  <label class="title" text="Enter old PASSWORD HERE:"></label>
  <TextField
    [(ngModel)]="oldpassword"
    class="field"
    hint="PLEAS ENTER YOUR PASSWORD HERE"
    borderBottomColor="blue"
    secure="true"
  ></TextField>
  <label class="title" text="Enter new PASSWORD HERE:"></label>
  <TextField
    [(ngModel)]="newpassword"
    class="field"
    hint="PLEAS ENTER YOUR PASSWORD HERE"
    borderBottomColor="blue"
    secure="true"
  ></TextField>
  <label class="title" text="REnter new PASSWORD HERE:"></label>
  <TextField
    [(ngModel)]="rpassword"
    class="field"
    hint="PLEAS ENTER YOUR PASSWORD HERE"
    borderBottomColor="blue"
    secure="true"
  ></TextField>
  <StackLayout
    orientation="horizontal"
    horizontalAlignment="center"
    verticalAlignment="center"
    row="3"
  >
    <Button
      class="square"
      text="Finsh"
      (tap)="check()"
      verticalAlignment="center"
    ></Button>
    <Button class="square" text="Cancel" verticalAlignment="center"></Button>
  </StackLayout>
</StackLayout>
