/* Add mobile styles for the component here.  */
.grid {
  background: #f9ead5;
}
.circle {
  border-radius: 80;
  height: 100;
  width: 100;
  margin-left: 2.5%;
  margin-right: 2.5%;
  color: white;
  background: #f2bd31;
  font-weight: bold;
  font-size: 22;
}
.square {
  border-radius: 10;
  height: 60%;
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  color: white;
  background: #55a728;
  font-weight: bold;
  font-size: 22;
}
.title {
  text-align: center;
  font-weight: bold;
  font-size: 16;
  margin-bottom: 10;
}
TextField {
  border-width: 0 0 1 0;
  border-bottom-color: blue;
}
.square1 {
  border-radius: 10;
  height: 40%;
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  color: white;
  background: #55a728;
  font-weight: bold;
  font-size: 22;
}
