<GridLayout class="grid" rows="*,*,*,*" columns="*">
  <StackLayout
    orientation="horizontal"
    horizontalAlignment="center"
    verticalAlignment="center"
    row="0"
  >
    <Button class="circle" text="Open" verticalAlignment="center"></Button>
    <Button class="circle" text="Close" verticalAlignment="center"></Button>
    <Button class="circle" text="Stop" verticalAlignment="center"></Button>
  </StackLayout>
  <StackLayout
    orientation="horizontal"
    horizontalAlignment="center"
    verticalAlignment="center"
    row="1"
  >
    <Button
      class="square"
      text="Change password"
      (tap)="rsetpassswordbutton()"
      verticalAlignment="center"
    ></Button>
    <Button
      class="square"
      text="Enter password"
      verticalAlignment="center"
      (tap)="passswordbutton()"
    ></Button>
  </StackLayout>

  <StackLayout
    orientation="vertical"
    horizontalAlignment="center"
    verticalAlignment="center"
    row="2"
  >
    <label class="title" text="SET PASSWORD HERE:"></label>
    <TextField
      [(ngModel)]="textFieldData"
      class="field"
      hint="PLEAS ENTER YOUR PASSWORD HERE"
      borderBottomColor="blue"
    ></TextField>
  </StackLayout>

  <StackLayout
    orientation="horizontal"
    horizontalAlignment="center"
    verticalAlignment="center"
    row="3"
  >
    <Button
      class="square1"
      text="Finsh"
      (tap)="check()"
      verticalAlignment="center"
    ></Button>
    <Button class="square1" text="Cancel" verticalAlignment="center"></Button>
  </StackLayout>
</GridLayout>
