<ActionBar class="action-bar">
  <Label class="action-bar-title" text="Vaulab"></Label>
</ActionBar>

<StackLayout orientation="vertical" sdkExampleTitle sdkToggleNavButton>
  <Label
    class="h3 "
    text="List of BLE Devices:"
    textWrap="false"
    marginBottom="15"
  ></Label>
  <GridLayout>
    <!-- >> listview-create-html -->
    <ListView
      [items]="countries"
      (itemTap)="onItemTap($event)"
      class="list-group"
    >
      <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
        <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
        <StackLayout orientation="horizontal" class="list-group-item">
          <Label [text]="item"></Label>
        </StackLayout>
      </ng-template>
    </ListView>
    <!-- << listview-create-html -->
  </GridLayout>
</StackLayout>
